/*
 * Copyright © 2016-2025 The Sentient Authors
 */

:host ::ng-deep {
  .scaling-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
}

@media (max-width: 599px) {
  :host ::ng-deep {
    .scaling-grid {
      grid-template-columns: 1fr;
    }
  }
}
